
p 
    font-size: 0.8rem

@mixin color-block($name)
    .back-color-#{$name}
        background-color: #{$name}
        margin-top: 0.1rem
        margin-bottom: 0.5rem
        margin-right: 0.01rem
        margin-left: 0.01rem

@include color-block("black")
@include color-block("blue")
@include color-block("magenta")

@mixin width-custom($name)
    .parent-width-#{$name}
        width: #{$name}rem
        position: relative

@include width-custom("25")
@include width-custom("20")
@include width-custom("15")
.parentDiv
    max-height: 80%

.scrollDiv
    max-height: 85vh
    overflow-y: auto

.ticket-list-holder
    display: flex
    flex-wrap: nowrap
    overflow-x: auto
    height: 80vh

.scrollable
    flex: 0 0 auto
    white-space: normal

.main-container
    min-width: 100%

.add-ticket-form
    position: absolute
    background-color: white
    z-index: 3
    margin-top: 10vh
    padding: 5vh
    width: 150vh

.my-dropdown
    width: 25vh